<div class="b-page__head">
  <div class="b-head__logo">
    <div class="b-creator">starting point for</div>
    <div class="b-logo">Dev Noobs</div>
  </div>
  <div class="b-head__menu">
    <div class="b-menu__profile">
      <a><%= link_to "Registration", new_user_path, remote: true, :class => "" %></a>
    </div>
    <nav class="b-menu">
      <ul>
        <li class="b-menu_item"><%= link_to "HOME", home_path, remote: true, :class => "b-item_link b-item_link_active" %></li>
        <li class="b-menu_item"><%= link_to "WORK", work_path, remote: true, :class => "b-item_link" %></li>
        <li class="b-menu_item"><a class="b-item_link" href="#">ARTICLES</a></li>
        <li class="b-menu_item"><a class="b-item_link" href="#">BOOKS</a></li>
        <li class="b-menu_item"><a class="b-item_link" href="#">VIDEOS</a></li>
      </ul>
    </nav>
  </div>
  <div class="b-head__slider">
    <div class="carousel slide" id="myCarousel">
      <ol class="carousel-indicators">
        <li class="active" data-target="#myCarousel" data-slide-to="0"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag("first_image.jpg") %>
          <div class="carousel-caption">
            <h4>Заголовок слайда</h4>
            <p>Текст описания слайда</p>
          </div>
        </div>
        <div class="item">
          <%= image_tag("second_image.jpg") %>
          <div class="carousel-caption">
            <h4>Заголовок слайда</h4>
            <p>Текст описания слайда</p>
          </div>
        </div>
        <div class="item">
          <%= image_tag("third_image.jpg") %>
          <div class="carousel-caption">
            <h4>Заголовок слайда</h4>
            <p>Текст описания слайда</p>
          </div>
        </div>
      </div>
      <a class="carousel-control left" data-slide="prev" href="#myCarousel">&lsaquo;</a>
      <a class="carousel-control right" data-slide="next" href="#myCarousel">&rsaquo;</a>
    </div>
  </div>
</div>